<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testapis.mapper.CollectionMapper">
  <resultMap id="BaseResultMap" type="com.example.testapis.entity.Collection">
    <!--@mbg.generated-->
    <!--@Table collection-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="mediaId" jdbcType="VARCHAR" property="mediaid" />
    <result column="h1" jdbcType="VARCHAR" property="h1" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, userId, mediaId, h1, username, pic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from collection
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from collection
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.testapis.entity.Collection">
    <!--@mbg.generated-->
    insert into collection (id, userId, mediaId,
      h1, username, pic)
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{mediaid,jdbcType=VARCHAR},
      #{h1,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.testapis.entity.Collection">
    <!--@mbg.generated-->
    insert into collection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="mediaid != null">
        mediaId,
      </if>
      <if test="h1 != null">
        h1,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="pic != null">
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="mediaid != null">
        #{mediaid,jdbcType=VARCHAR},
      </if>
      <if test="h1 != null">
        #{h1,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.testapis.entity.Collection">
    <!--@mbg.generated-->
    update collection
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="mediaid != null">
        mediaId = #{mediaid,jdbcType=VARCHAR},
      </if>
      <if test="h1 != null">
        h1 = #{h1,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.testapis.entity.Collection">
    <!--@mbg.generated-->
    update collection
    set userId = #{userid,jdbcType=VARCHAR},
      mediaId = #{mediaid,jdbcType=VARCHAR},
      h1 = #{h1,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-11-11-->
  <select id="findAllByUserid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from collection
        where userId=#{userid,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-11-16-->
  <select id="findByUseridAndMediaid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from collection
        where userId=#{uid,jdbcType=VARCHAR} and mediaId=#{mid,jdbcType=VARCHAR} limit 1
    </select>
</mapper>
