<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testapis.mapper.NextMapper">
  <resultMap id="BaseResultMap" type="com.example.testapis.entity.Next">
    <!--@mbg.generated-->
    <!--@Table next-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="kind" jdbcType="VARCHAR" property="kind" />
    <result column="markdown" jdbcType="VARCHAR" property="markdown" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, kind, markdown, cover, title, content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from next
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from next
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.testapis.entity.Next">
    <!--@mbg.generated-->
    insert into next (id, kind, markdown, 
      cover, title, content
      )
    values (#{id,jdbcType=VARCHAR}, #{kind,jdbcType=VARCHAR}, #{markdown,jdbcType=VARCHAR}, 
      #{cover,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.testapis.entity.Next">
    <!--@mbg.generated-->
    insert into next
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="kind != null">
        kind,
      </if>
      <if test="markdown != null">
        markdown,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="kind != null">
        #{kind,jdbcType=VARCHAR},
      </if>
      <if test="markdown != null">
        #{markdown,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.testapis.entity.Next">
    <!--@mbg.generated-->
    update next
    <set>
      <if test="kind != null">
        kind = #{kind,jdbcType=VARCHAR},
      </if>
      <if test="markdown != null">
        markdown = #{markdown,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.testapis.entity.Next">
    <!--@mbg.generated-->
    update next
    set kind = #{kind,jdbcType=VARCHAR},
      markdown = #{markdown,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-11-21-->
  <select id="findAllByKind" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from next
        where kind=#{kind,jdbcType=VARCHAR}
    </select>
</mapper>